

.judul {
    background: #EDBB00;
    text-align: center;
    color :
}

.gambar {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.body {
    background-color: #004d98;
}

h2 {
    color:  #a50044;
}
